<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="wap-font-scale" content="no">

<title>优耐板</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<!--fonts-->
<link rel="stylesheet" type="text/css" href="__FONTS__/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/comm.css"> 
<link rel="stylesheet" type="text/css" href="__CSS__/about.css"> 
<!--js-->
<script type="text/javascript" src="__JS__/mobile.js"></script>
<script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>

<!--动画-->
<link rel="stylesheet" type="text/css" href="__CSS__/animate.min.css"> 
<script type="text/javascript" src="__JS__/wow.min.js"></script>

</head>
<body>
    <div class="about_main">
        <div class="images13 wow lightSpeedIn" data-wow-delay="0.7s">
             <img src="__IMG__/about/f1.png"/>
        </div>
        <div class="aboutf_widthall">
            <div class="width662">
                <div class="about_title aboutf_top wow rollIn" data-wow-delay="0.4s">
                    <p class="p1">{$vo[name]}</p>
                    <p class="p2">{$vo[title]}</p>
                </div>
                <div class="aboutf_cons">
                    <p class="p1 wow bounceInLeft" data-wow-delay="0.5s">
					ZINCALUME<sup>®</sup> steel（优耐板）有多种强</p>
                    <p class="p1 wow bounceInLeft" data-wow-delay="0.7s">度规格的产品，主要分为两大类，一</p>
                    <p class="p1 wow bounceInLeft" data-wow-delay="0.9s">
					种是中强钢卷G300，一种是高强钢</p>
                    <p class="p1 wow bounceInLeft" data-wow-delay="1.1s">
					卷G550。这两种主要的强度</p>
                    <p class="p1 wow bounceInLeft" data-wow-delay="1.3s">
					，可以适用于各种版型</p>
                    <p class="p1 wow bounceInLeft" data-wow-delay="1.5s">
					的屋面，无论是大</p>
                    <p class="p1 wow bounceInLeft" data-wow-delay="1.7s">
					跨度的屋面还</p>
                    <p class="p1 wow bounceInLeft" data-wow-delay="1.9s">
					是各种复杂</p>
                    <p class="p1 wow bounceInLeft" data-wow-delay="2.1s">
					的曲线屋</p>
                    <p class="p1 wow bounceInLeft" data-wow-delay="2.3s">
					面都可</p>
                    <p class="p1 wow bounceInLeft" data-wow-delay="2.5s">
					以满</p>
					<p class="p1 wow bounceInLeft" data-wow-delay="2.5s">
					足。</p>
                    
                    
                </div>

            </div>
        </div>
        

	</div>
 




    <!--底部导航-->
       <include file="Public:bottomnav"/>


<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        new WOW().init();
    };
</script>



</body>
</html>