<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="wap-font-scale" content="no">

<title>优耐板</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<!--fonts-->
<link rel="stylesheet" type="text/css" href="__FONTS__/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/comm.css"> 
<link rel="stylesheet" type="text/css" href="__CSS__/about.css"> 
<!--js-->
<script type="text/javascript" src="__JS__/mobile.js"></script>
<script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>

<!--动画-->
<link rel="stylesheet" type="text/css" href="__CSS__/animate.min.css"> 
<script type="text/javascript" src="__JS__/wow.min.js"></script>

</head>
<body>
    <div class="about_main">
         <div class="aboutc_top">
            <div class="imgage5 wow bounceInDown" data-wow-delay="0.5s"><img src="__IMG__/about/c1.png"/></div>
            <div class="imgage6 wow bounceInLeft" data-wow-delay="1s"><img src="__IMG__/about/c2.png"/></div>
         </div>

        <div class="aboutc_cons">
           <div class="width662">
            <div class="title about_title wow bounceInLeft" data-wow-delay="1.5s">
                <p class="p1">{$vo['name']}</p>
                <p class="p2">{$vo['title']}</p>
            </div>
            <div class="cont wow bounceInRight" data-wow-delay="2s">
                {$vo['content']}
            </div>
           </div>  
        </div>
        
	  
	</div>
 




    <!--底部导航-->
       <include file="Public:bottomnav"/>


<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        new WOW().init();
    };
</script>


</body>
</html>