<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="wap-font-scale" content="no">

<title>优耐板</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<!--fonts-->
<link rel="stylesheet" type="text/css" href="__FONTS__/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/comm.css"> 
<link rel="stylesheet" type="text/css" href="__CSS__/about.css"> 
<!--js-->
<script type="text/javascript" src="__JS__/mobile.js"></script>
<script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>

<!--动画-->
<link rel="stylesheet" type="text/css" href="__CSS__/animate.min.css"> 
<script type="text/javascript" src="__JS__/wow.min.js"></script>

</head>
<body>
    <div class="about_main">
         <div style="height: 4.2rem; width:100%; float: left;"></div>
         <div class="aboutd_con" style="margin-bottom: 0.6666666667rem;">
            <div class="width662 trtt">
                <div class="aboutd_left about_title">
                   <p class="p1 wow rollIn" data-wow-delay="0.5s" style="word-wrap: break-word; 
word-break: normal; ">{$vo['name']}</p>
                   <p class="p2 wow rollIn" data-wow-delay="0.5s">{$vo['title']}</p>

                   <div class="font28 aboutd_content wow fadeInUpBig" data-wow-delay="1.5s">
                       <p>{$vo['content']}</p>
                   </div>
                </div>

                <div class="aboutd_right">
                    
                        <div style="height:3.0666666667rem; width:100%; float: left;"></div>
                        <div class="images10 wow lightSpeedIn" data-wow-delay="2s"><img src="__IMG__/about/d2.png"/></div>
                        <div class="images11 wow lightSpeedIn" data-wow-delay="2.5s"><img src="__IMG__/about/d3.png"/></div>
                </div>
             
            </div>
         </div>

        <div class="aboutd_top_img wow bounceInRight" data-wow-delay="0.8s">
             <img src="__IMG__/about/d1.png"/>
        </div>

        

	</div>
 




    <!--底部导航-->
        <include file="Public:bottomnav"/>



<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        new WOW().init();
    };
</script>


</body>
</html>