<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="wap-font-scale" content="no">

<title>博思格中国线上平台调查问卷收集</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<!--fonts-->
<link rel="stylesheet" type="text/css" href="__FONTS__/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/comm.css">
<link rel="stylesheet" type="text/css" href="__CSS__/problem.css"> 
<!--js-->
<script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__JS__/mobile.js"></script>

<link rel="stylesheet" type="text/css" href="__CSS__/animate.min.css"> 
<script type="text/javascript" src="__JS__/wow.min.js"></script>
<script type="text/javascript" src="__JS__/layer.js"></script>

<style>

.sy_top3 .img2{height:auto;}
</style>


</head>
<body>
   <div class="widthall wt_main">
       <div class="width710">
           <div class="width662">
               <div class="sy_top">
                   <div class="top_left">
                       <p class="p1 wow bounceInLeft" data-wow-delay="0.3s"><span></span></p>
                       <p class="p2 wow bounceInLeft" data-wow-delay="0.3s"><span class="span1">2017</span><span class="span2">年</span></p>
                   </div>
                   <div class="top_right">
                       <div class="img1 wow lightSpeedIn" data-wow-delay="0.5s"><img src="__IMG__/wjlogo.jpg"/></div>
                   </div>
               </div>
               <div class="sy_top2">
                   <span class="wow bounceInRight" data-wow-delay="0.8s">博思格中国</span>
               </div>
                <div class="sy_top3">
                   <div class="img2 wow rollIn" data-wow-delay="1s"><img src="__IMG__/diaocha.png"/></div>
                </div>
           </div>
       </div>
   </div>
   <div class="widthall mid_bj">
       <div class="img3"><img src="__IMG__/dcwj.jpg"/></div>
   </div>
   <div class="widthall btn_dt">
       <div class="width710">
            <div class="dt_line" >
              <!-- <a href="javascript:;"><p id="btn_join">我要参加</p></a>-->
              <p id="btn_join">我要参加</p>
            </div>   
       </div>
   </div>
   



<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        new WOW().init();
    };
	
	$("#btn_join").click(function(){
	
	   // $.post("{:U('index')}",{type:1},function(d){
		//     if(d.status==201){
		//	    layer.alert(d.msg);
		//	 }else{
			     window.location.href='/Match/Research/forms';
		//	 }
		//})
	});
	
	
	window.addEventListener("popstate", function(e) {  
        alert("我监听到了浏览器的返回按钮事件啦");//根据自己的需求实现自己的功能  
    }, false);
	
	
	
</script>   



</body>
</html>