<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	
    <div class="main-title">
        <h2>修改</h2>
    </div>
    <ul class="tab-nav nav">


        <li class="current"><a href="javascript:void(0)">基本信息</a></li>
		

    </ul>
    
    <form action="{:U()}" method="post" class="form-horizontal">
    
	<div class="tab-content">
	    <!--上级id-->
		<!--问题id-->
	    <input type="hidden" name="id" value="{$vo[id]}" />
		
        <div class="form-item">
            <label class="item-label">问题标题<span class="check-tips">（标题必须填写）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$vo[title]}">
                
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">所属分类</label>
            <div class="controls">
                <select name="typeid" style="width:200px;">
                        <option value="0">选择类型</option>
						<volist name="matchtype" id="ma">
                        <option value="{$ma[id]}">{$ma[title]}</option>
						<notempty name="ma[twotype]">
						<volist name="ma[twotype]" id="maa"> 
						<option value="{$maa[id]}" <if condition="$vo[typeid] eq $maa[id]">selected</if>>|--{$maa[title]}</option>
						</volist>
						</notempty>
						</volist>
                </select>
            </div>
        </div>
		
		
		<div class="form-item">
            <label class="item-label">排序</label>
            <div class="controls">
                <input type="text" class="text input-large" name="sort" value="{$vo[sort]}">
            </div>
        </div>
		
		
		<div class="form-item">
            <div class="controls">
                <label class="item-label">标题缩略图<span class="check-tips">（需要才添加）</span></label>
                <input type="file" id="upload_picture">
                <input type="hidden" name="icon" id="icon" value="{$info['icon']|default=''}"/>
                <div class="upload-img-box">
                <notempty name="info['icon']">
                    <div class="upload-pre-item"><img src="__ROOT__{$info.icon|get_cover='path'}"/></div>
                </notempty>
                </div>
            </div>
            <script type="text/javascript">
            //上传图片
            /* 初始化上传插件 */
            $("#upload_picture").uploadify({
                "height"          : 30,
                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                "fileObjName"     : "download",
                "buttonText"      : "上传图片",
                "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                "width"           : 120,
                'removeTimeout'	  : 1,
                'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
                "onUploadSuccess" : uploadPicture,
                'onFallback' : function() {
                    alert('未检测到兼容版本的Flash.');
                }

            });
            function uploadPicture(file, data){
                var data = $.parseJSON(data);
                var src = '';
                if(data.status){
                    $("#icon").val(data.id);
                    src = data.url || '__ROOT__' + data.path;
                    $("#icon").parent().find('.upload-img-box').html(
                        '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                    );
                } else {
                    updateAlert(data.info);
                    setTimeout(function(){
                        $('#top-alert').find('button').click();
                        $(that).removeClass('disabled').prop('disabled',false);
                    },1500);
                }
            }
            </script>
        </div>
		
		<style>
		   #wt_list p{margin-bottom:10px; height:30px; line-height:30px;}
		  
		   input[type='checkbox']{width:25px;}
		   .chadiao{font-size:30px; font-weight:bold; cursor:pointer;}
		</style>
		
		<div class="form-item">
            <label class="item-label">问题类型</label>
            <div class="controls">
                <select name="type" style="width:200px;">
                        <option value="0">选择类型</option>
                        <option value="1" <if condition="$vo[type] eq 1">selected</if>>单选</option>
						<option value="2" <if condition="$vo[type] eq 2">selected</if>>多选</option>
                </select>
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">问题选项</label>
            <label class="item-label"><span style="background:#4bbd00; padding:5px 10px; color:#fff; cursor:pointer;" class="btn_addlist">点击添加</span></label>
            <div class="controls" id="wt_list">
               
			   <!--选项-->
			   <volist name="vo[xuanxiang]" id="vot">
			   <p>
			      <input type="text" class="text input-large wenti" name="wtxx_title[]" value="{$vot[title]}"><input type="checkbox" class="text" name="daan[]" value="{$key}" <if condition="$vot[is_answer] eq 1">checked</if>>
				  
				  <input type="hidden" name="save_wtid[]" value="{$vot[id]}">
			   </p>
			   </volist>
			   
			   
            </div>
        </div>

        
	   
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </div>
	
	
	
	</form>
</block>

<block name="script">
<include file="Public:datetime" />
    <script type="text/javascript">
	
		$('.tab-nav li').click(function(){
			$(this).attr('class','current')
						.siblings().attr('class','');
			var n_index=$('.tab-nav li').index(this);
				$('.tab-content').eq(n_index).show()
							 .siblings().hide();
		});
	
        //导航高亮
        highlight_subnav('{:U('Match/index')}');
		
		$('#deadline').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
		$('#deadline2').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    </script>
	

<script type="text/javascript" src="__JS__/jquery-1.8.0.js"></script>	
<script>



var num = parseInt($('.wenti').length);
$(".btn_addlist").click(function(){
 
    var htmls = '<p><input type="text" class="text input-large" name="wtxx_title[]" value=""><input type="checkbox" class="text" name="daan[]" value="'+num+'"></p>'; 	
    $("#wt_list").append(htmls);
    num++;
});

//删掉
/*$(".chadiao").live('click',function(){
   
    var dataid = $(this).attr("data-id");
	

   
   $(this).parent('p').remove();
   num--;

});*/


</script>		
</block>
