<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>问卷结果列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
			
            <button class="btn ajax-post confirm" url="{:U('Timulist/del')}" target-form="ids">删 除</button>
			<a class="btn btn_excel" href="javascript:;">导出Excel</a>
        </div>
		
		<script>
	    $(".btn_excel").click(function(){
		    $("#excel").val('excel');
		    $("#form1").submit();
		});
	    </script>

        
		<div class="search-form fr cf">
			<form action="/Admin/timuresult/index" id="form1" method="get">
			<div class="sleft">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
             <input type="hidden" name="excel" id="excel" value=""/>
			</form>
		</div>
		
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">编号</th>
		
		<th class="">姓名</th>
		<th class="">部门</th>
		<th class="">问卷分类</th>
		<th class="">提交时间</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="list">
		<volist name="list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			
			<td>{$vo[username]}</td>
			<td>
			    
			    <if condition="$vo[department] neq 17">
				   {$vo[department]|modelField="timutype",'title'}
				<else/>
				   {$vo[other_depar]}
				</if>
			</td>
			
			<td>{$vo[timetype]|modelField="timutype","title"}</td>
			<td>{$vo.create_time|date='Y-m-d H:i',###}</td>
			
			<td>
                <a href="{:U('seeresult',array('id'=>$vo['id']))}">查看结果</a>
				<a href="{:U('del?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		
 $("#excel").val('');
		var typeid = $("select[name=typeid]").val();
        var title  = $('input[name=title]').val();
        $("#form1").submit();

		
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			 $("#excel").val('');
			$("#search").click();
			return false;
			
		}
	});
	
    //导航高亮
    highlight_subnav('{:U('timuresult/index')}');
	</script>
</block>
