<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="wap-font-scale" content="no">

<title>{:C('WEB_SITE_TITLE')}</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<!--fonts-->
<link rel="stylesheet" type="text/css" href="__FONTS__/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/comm.css"> 

<!--js-->
<script type="text/javascript" src="__JS__/mobile.js"></script>
</head>
<body>
    <div class="main survey">

	   <div class="top">
	   	    
	   	    <p>OFFER AND QUALITY</p>

	   </div>

	   <!--内容-->
	   <div class="mid survey_list">
	       
           <!--列表开始-->
            <div class="input_list_b">
	         <div class=" datas">
	         	<div class="title on"><span>1. 金属镀层量是否达标</span></div>
                <div class="list_con active">
                     <div class="dianimg"></div>
                     <input class="radios" type="radio" id="nba"" name="" value="3">
                     <label name="nba" for="nba">A、非常满意</label>
                </div>
                <div class="list_con">
                     <div class="dianimg"></div>
                     <input class="radios" type="radio" id="nba"" name="" value="3">
                     <label name="nba" for="nba">B、满意</label>
                </div>
                <div class="list_con">
                     <div class="dianimg"></div>
                     <input class="radios" type="radio" id="nba"" name="" value="3">
                     <label name="nba" for="nba">C、一般</label>
                </div>
                <div class="list_con">
                     <div class="dianimg"></div>
                     <input class="radios" type="radio" id="nba"" name="" value="3">
                     <label name="nba" for="nba">D、不满意</label>
                </div>
                <div class="list_con">
                     <div class="dianimg"></div>
                     <input class="radios" type="radio" id="nba"" name="" value="3">
                     <label name="nba" for="nba">E、很不满意</label>
                </div>
	         </div>
             <div class="data_text">
                 <div class="yiny"></div>
                 <div class="data_zyx">
                     <p class="p1">该问题对您的重要性</p>
                     <div class="zyx_xz">
                        <input  id="zyx1" type="radio" name="" value="" />
                        <label class="actv" for="zyx1">重要</label>

                        <input  id="zyx2" type="radio" name="" value="" />
                        <label for="zyx2">一般</label>

                        <input  id="zyx3" type="radio" name="" value="" />
                        <label for="zyx3">不适用</label>
                     </div>
                 </div>
             </div>
            </div>

            <!--/-->
            <div class="input_list_b">
              <div class="datas">
                <div class="title on"><span>2. 客户是否需要安排礼品</span></div>
                <div class="list_con xz_after">
                     <div class="dianimg"></div>
                     <input class="radios" type="radio" id="nba"" name="" value="3">
                     <label name="nba" for="nba">A、非常满意</label>
                     <div class="yj_xz">重要</div>
                </div>
              </div>
            </div> 


            <div class="input_list_b">
             <div class=" datas">
                <div class="title"><span>3. 钢板强度</span></div>
             </div>
            </div> 

            <div class="input_list_b">
             <div class=" datas">
                <div class="title"><span>4. 漆膜厚度是否达标</span></div>
             </div>
            </div> 

            <div class="input_list_b">
             <div class=" datas">
                <div class="title"><span>5. 抗褪色性能</span></div>
             </div>
            </div> 

            <div class="input_list_b">
             <div class=" datas">
                <div class="title"><span>6. 洁面功能</span></div>
             </div>
            </div> 

            <div class="input_list_b">
             <div class=" datas">
                <div class="title"><span>7. 产品色差</span></div>
             </div>
            </div> 

            <div class="input_list_b">
             <div class=" datas">
                <div class="title"><span>8. 产品厚度公差</span></div>
             </div>
            </div> 

            <div class="input_list_b">
             <div class=" datas">
                <div class="title"><span>10. 产品宽度公差</span></div>
             </div>
            </div> 

            <div class="input_list_b">
             <div class=" datas">
                <div class="title"><span>11. 产品重量公差</span></div>
             </div>
            </div> 

           

	         <div class="tj_btns">
	         	<a href="javascript:;">下一步</a>
	         </div>

	      
	   	

	   </div>

	</div>
    



	
    <!--底部导航-->
       <include file="Public:bottomnav"/>


</body>
</html>