<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>调研详情查看</h2>
    </div>
    <ul class="tab-nav nav">


        <li class="current"><a href="javascript:void(0)">客户信息</a></li>
		<li><a href="javascript:void(0)">调查表</a></li>
		<li><a href="javascript:void(0)">建议内容</a></li>
       
    </ul>
    
    <form action="{:U()}" method="post" id="form1" class="form-horizontal">
    <input type="hidden" name="id" value="{$vo[id]}">
    <div class="tab-content">
	   <div class="form-item">
            <label class="item-label">客户名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large"  value="{$vo.username}" disabled/>
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">公司信息<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large"  value="{$vo.company}" disabled/>
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">公司职位<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.position}" disabled/>
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">客户电话<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.mobile}" disabled/>
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">公司传真<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.fax}" disabled/>
            </div>
        </div>
		
		<div class="form-item">
            <label class="item-label">提交日期<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.create_time|date='Y-m-d H:i',###}" disabled/>
            </div>
        </div>
		
       
		<div class="form-item">
           
            <a href="{:U('result')}" class="btn btn-return">返 回</a>
        </div>

    </div>
	<style>
	   .diaocha{border:1px solid #e0e0e0; width:902px;}
	   .dc_title{width:100%; height:100px; border-bottom:1px solid #e0e0e0;}
	   .dc_title_left{width:300px;height:100px; font-size:12px; font-weight:bold; float:left; text-align:center; line-height:120px; border-right:1px solid #e0e0e0;}
	   .dc_title_mid{width:400px; height:100px; float:left;border-right:1px solid #e0e0e0;}
	    .title1{width:100%; text-align:center; height:35px; line-height:35px; border-bottom:1px solid #e0e0e0;font-size:12px; font-weight:bold;}
	   .divs{height:64px; line-height:64px; text-align:center;float:left;border-right:1px solid #e0e0e0;font-size:12px; font-weight:bold;}
	   .dc_title_right{width:200px; height:100px; float:left; }
	   .like_d{border-right:1px solid #e0e0e0;}
	   .con_list{width:100%; font-size:12px;overflow: hidden;}
	   .con_type{text-align:left; font-weight:bold; float:left; width:100%;}
	   .borders{border-bottom:1px solid #e0e0e0; height:30px; line-height:30px;font-size: 14px;}
	   .conlister{width:100%; float:left;border-bottom:1px solid #e0e0e0;height:35px; line-height:35px;}
	   .table1{width:300px;}
	   .table2{width:80px;text-align:center;}
	   .table3{width:78px;text-align:center;}
	   .table4{width:78px;text-align:center;}
	   .table5{width:80px;text-align:center;}
	   .table6{width:80px;text-align:center;}
	   .table7{width:63px;text-align:center;}
	   .table8{width:63px;text-align:center;}
	   .table9{width:72px;text-align:center;}
	   .tables{border-right:1px solid #e0e0e0;  float:left; height:35px; line-height:35px;}
	</style>
	<div class="tab-content " style="display:none;">
		<div class="diaocha">
		    <div class="dc_title">
			   <div class="dc_title_left">调查内容</div>
			   <div class="dc_title_mid">
			      <div class="title1">满意度</div>
				  <div>
				    <div class="divs" style="width:80px">非常满意</div>
				    <div class="divs" style="width:78px">满意</div>
				    <div class="divs" style="width:78px">一般</div>
				    <div class="divs" style="width:80px">不太好</div>
				    <div class="divs" style="width:80px;border-right:none;">非常差</div>
				  </div>
			   </div>
			   <div class="dc_title_right">
			       <div class="title1">满意度</div>
				   <div>
				      <div class="divs" style="width:63px;">重要</div>
				      <div class="divs" style="width:63px;">一般</div>
				      <div class="divs" style="width:72px;border-right:none;">不适用</div>
				   </div>
			   </div>
			</div>
			<!--内容-->
			
			<div class="con_list">
			<volist name="wtList" id="wtvo" key="k">
			   <div class="con_type borders" >{$wtvo[title]}</div>
			   <volist name="wtvo[problem]" id="wtlist" key="m">
			   <div class="conlister" style="<if condition='count($wtList) eq $k and count($wtvo[problem]) eq $m'>border-bottom:none;</if>">
			      <div class="tables table1">{$m}、{$wtlist[title]}</div>
			      <div class="tables table2"><if condition="$wtlist[satisfaction] eq 5">√</if></div>
			      <div class="tables table3"><if condition="$wtlist[satisfaction] eq 4">√</if></div>
			      <div class="tables table4"><if condition="$wtlist[satisfaction] eq 3">√</if></div>
			      <div class="tables table5"><if condition="$wtlist[satisfaction] eq 2">√</if></div>
			      <div class="tables table6"><if condition="$wtlist[satisfaction] eq 1">√</if></div>
			      <div class="tables table7" style="color: red;"><if condition="$wtlist[important] eq 3">√</if></div>
			      <div class="tables table8" style="color: red;"><if condition="$wtlist[important] eq 2">√</if></div>
			      <div class="tables table9" style="border-right:none;color: red;"><if condition="$wtlist[important] eq 1">√</if></div>
			   </div>
			   </volist>   
			 </volist>  
			</div>
			
		
		
		</div>
	    <div class="form-item" style="margin-top:20px;">
           
            <a href="{:U('result')}" class="btn btn-return">返 回</a>
        </div>
	
	</div>
	

	<div class="tab-content" style="display:none;">
	    
		<div class="form-item check_remark">
            <label class="item-label">
                建议内容<span class="check-tips"></span>
            </label>
            <div class="controls">
               <textarea style="width: 500px; height: 300px;">{$vo[content]}</textarea>
            </div>
        </div>
		
		<div class="form-item">
            <a href="{:U('result')}" class="btn btn-return">返 回</a>
        </div>
		
	</div>
	
	
	
    </form>
	
	<script>
	
	    
		
		//切换审核原因
		$("input[name='status']").click(function(){
		
		    var sta = $(this).val();
			
			if(sta==1){
			    
				$(".check_remark").hide();
				
			}else if(sta==2){
			    
				$(".check_remark").show();
				
			}
		
		});
		
		
		
		
	    
	    //选项卡切换
	   $('.tab-nav li').click(function(){
			
			$(this).attr('class','current')
						.siblings().attr('class','');
			var n_index=$('.tab-nav li').index(this);
				$('.tab-content').eq(n_index).show()
							 .siblings().hide();
		});
	
	 //导航高亮
        highlight_subnav('{:U('Survey/result')}');
	
	</script>
</block>


