<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="wap-font-scale" content="no">

<title>{:C('WEB_SITE_TITLE')}</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<!--fonts-->
<link rel="stylesheet" type="text/css" href="__FONTS__/font-awesome.min.css">
<!--首页css-->
<link rel="stylesheet" type="text/css" href="__CSS__/index.css"> 
<link rel="stylesheet" type="text/css" href="__CSS__/comm.css"> 

<!--js-->
<script type="text/javascript" src="__JS__/mobile.js"></script>
</head>
<body>
    <div class="main">
	   <div class="title">
	      <p class="p1">基本信息</p>
	      <p class="p2">此处请由销售填写 </p>
	   </div>
	   <div class="content">
	       <div class="mid">
	          <div class="inputs "><input type="text" name="saleperson" placeholder="销售人员" /></div>
	          <div class="inputs"><input type="text" name="allarea" placeholder="项目总面积" /></div>
	          <div class="inputs"><input type="text" name="numbers" placeholder="项目编号" /></div>
	          <div class="inputs"><input type="text" name="contact_person" placeholder="项目联系人" /></div>
	          <div class="inputs"><input type="text" name="project_name" placeholder="项目名称" /></div>
	          <div class="inputs"><input type="text" name="position" placeholder="联系人职位" /></div>
	          <div class="inputs"><input type="text" name="mobile" placeholder="联系人电话" /></div>
	          <div class="inputs"><input type="text" name="email" placeholder="联系人邮箱" /></div>
	          <div class="inputs"><input type="text" name="psspm" placeholder="PM&SPM" /></div>
	          <div class="inputs"><input type="text" name="create_time" placeholder="填写日期" /></div>
	          <div class="inputs" id="btns">填写满意度调查表</div>

	       </div>
	   </div>
	   <div class="nav">
          
	   </div>


	</div>
   
   
</body>
</html>